/*NAVIGATION*/

html{
    scroll-behavior: smooth;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    position: relative;
    height: 80px;
  }
  
  nav ul{
    display: flex;
    gap: 30px;
  }
  
  nav ul li{
    list-style-type: none;
  }
  
  nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
  }
  
  .menu-icon{
    display: none;
  }
  
  .menu-icon i{
    color: white;
    font-size: 30px;
  }
  
  .hello{
    position: absolute;
    height: 90px;
    left: 0px;
    width: 200px;
    margin-top: -40px;
  }
  li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: whitesmoke;
    margin: auto;
    display: block;
  }
  li a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
    margin-top: 8px;
  }
  
  li a:hover{
    color: white;
  }
  
  li a.active{
   color: black;
  }
/*HOME*/

body{
    background-color: white;
  }
h1{
    text-align: center;
    margin-top: 60px;
}
.section{
    width: 100%;
}
.section .container{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}
.container .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color: black;
    margin-top: 10px;
}
.container .title h1::after{
    content:"";
    height: 5px;
    width: 100px;
    background-color: red;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 280px;
    height:330px;
    border-radius: 40px;
}
.content .article h3{
    color: black;
    font-size: 15px;
    line-height: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
}
.content .article .button{
    margin-top: 30px;
}
.content .article .button a{
    text-decoration: none;
    padding: 8px 25px;
    background-color: red;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px; 
}
.content .article .button a:hover{
    color: white;
    background-color: black;
    transition: 1s ease;
}
.container .social {
    width: 100%;
    clear: both;
    margin-top: 30px;
    text-align: center;
    display: inline-block;
}
.container .social i{
    color: black;
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: whitesmoke;
    margin: 0px 5px;
}
.container .social i:hover{
    transition: 1s ease;
    transform: rotate(360deg);
}
.container .social .fb i:hover{
    color: white;
    background-color: blue;
}
.container .social .ig i:hover{
    color: white;
    background-color: #0077B5 ;
}
.container .social .git i:hover{
    color: white;
    background-color: black ;
}
/*SKILLS*/
.inner{
    padding-top: 20px;
}

.header{
    text-align: center;
    color: black;
    margin-top: 40px;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
}

.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: red;
    border-radius:2px;
}

.container-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color: black;
    cursor: pointer;
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
}
.skill-icon{
    width: 50px;   
    z-index: 2; 
}

.skill-title h3{
    color: black;
    margin-top: 0.5rem;
}

.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: red;
    transition: .5s;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}  

.skill-box:hover .img{
    transform: translateY(-10px);
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: red;
    transition: .5s;
}
.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    border-radius: 45px;
}

/*MEDIA BREAKPOINT*/

@media (max-width: 600px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: red;
        gap: 0;
        overflow: hidden;
      }
      nav ul li{
        padding: 20px;
      }
      .menu-icon{
        display: block;
      }
      #menuList{
        transition: all 0.5s;
      }
    }
@media screen and(max-width: 768px){
    .section .container{
        width:80%;
        display: block;
        margin: auto;
    }
    .content{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .container .title h1{
        text-align: center;
        font-size: 30px;
    }
    .container .article .button{
        text-align: center;
    }
    .container .article .button a{
        padding: 6px 15px;
        font-size: 16px;
    }
    .container .social i{
        font-size: 19px;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
}

@media screen and (max-width: 990px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 650px) {
    .container{
        grid-template-columns: 1fr;
    }
}