
/*NAVIGATION*/

nav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  position: relative;
  height: 80px;
}

nav ul{
  display: flex;
  gap: 30px;
}

nav ul li{
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
}

.menu-icon{
  display: none;
}

.menu-icon i{
  color: white;
  font-size: 30px;
}

.hello{
  position: absolute;
  height: 90px;
  left: 0px;
  width: 200px;
  margin-top: -40px;
}
li a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: whitesmoke;
  margin: auto;
  display: block;
}
li a:hover::after{
  width: 100%;
  transition: width 0.3s linear;
  margin-top: 8px;
}

li a:hover{
  color: white;
}

li a.active{
 color: black;
}
/*HOME*/

body{
  background-color: white;
}
p{
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.container{
  display: inline-block;
}
.text{
  font-size: 6em;
  margin-top: 120px;
  margin-left: 350px;
  letter-spacing: 5px;
  color: black;
  font-family: monospace;
  border-right: 2px solid;
  width: 46%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s,
              cursor .4s step-end infinite alternate;
}
@keyframes cursor{
  50%{
    border-color: transparent;
  }
}

@keyframes typing{
  from{
    width:0
  }
}
.container-1{
  display: inline-block;
}
.text-1{
  font-size: 4em;
  margin-left: 350px;
  letter-spacing: 1px;
  color: black;
  margin-top: -80px;
  font-family: monospace;
  border-right: 2px solid;
  width: 44%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s,
              cursor .4s step-end infinite alternate;
}
@keyframes cursor{
  50%{
    border-color: transparent;
  }
}

@keyframes typing{
  from{
    width: 0px
  }
}
/*BUTTONS*/

.button{
  position: relative;
  left: 33%;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  background-attachment: fixed;
  border-radius: 20px;
}
.button:hover{
  color: white;
  background-color: black;
  transition: 1s ease;
}

.button-1{
  position: relative;
  left:33%;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  background-attachment: fixed;
  border-radius: 20px;
}
.button-1:hover{
  color: white;
  background-color: black;
  transition: 1s ease;
}

/*MEDIA BREAKPOINT*/

@media (max-width: 600px) {
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: red;
    gap: 0;
    overflow: hidden;
  }
  nav ul li{
    padding: 20px;
  }
  .menu-icon{
    display: block;
  }
  #menuList{
    transition: all 0.5s;
  }
  .text{
    font-size: 5em;
    margin-top: 120px;
    margin-left: 50px;
    letter-spacing: 5px;
    color: black;
    font-family: monospace;
    border-right: 2px solid;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s,
                cursor .4s step-end infinite alternate;
  }
  @keyframes cursor{
    50%{
      border-color: transparent;
    }
  }
  
  @keyframes typing{
    from{
      width:0
    }
  }
  .container-1{
    display: inline-block;
  }
  .text-1{
    font-size: 4em;
    margin-left: 5px;
    letter-spacing: 1px;
    color: black;
    margin-top: -80px;
    font-family: monospace;
    border-right: 2px solid;
    width: 73%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s,
                cursor .4s step-end infinite alternate;
  }
  @keyframes cursor{
    50%{
      border-color: transparent;
    }
  }
  
  @keyframes typing{
    from{
      width: 0px
    }
  }
  p{
  text-align: center;
  margin-right: 220px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  }
  .button{
    margin-left: -130px;
  }
  .button-1{
    margin-left: 30px;
  }
  .topnav a{
    font-size: 23px;
  }
}

  




  

